$primay-color: DeepSkyBlue;
$url-path: "http://localhost:8080";

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  #{$property}: #{$value};
}

/* Small screen */
@media all and (max-width: 599px) {
  header {
    div {
      width: 400px;
    }
  }
  main {
    article {
      width: 400px;
    }
  }
}

/* Medium screen */
@media all and (min-width: 600px) {
  header {
    div {
      width: 600px;
    }
  }
  main {
    article {
      width: 600px;
    }
  }
}

/* Large screen */
@media all and (min-width: 800px) {
  header {
    div {
      width: 800px;
    }
  }
  main {
    article {
      width: 800px;
    }
  }
}

body {
  font-family: 'Exo 2', sans-serif;

  header {
    background-color: $primay-color;
    color: white;
    display: flex;
    justify-content: center;

    div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h2, form {
        margin: 10px;
      }

      form {

        input {
          border: none;
          @include prefix(border-radius, 1em);
          color: $primay_color;
          font-size: 1em;
          @include prefix(outline, none);
          padding: 5px 10px;
          width: 5em;
          @include prefix(transition, all 0.25s ease);

          &:focus {
            width: 15em;
          }

        }

      }

    }

  }

  main {
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      padding: 0;

      article {
        border-bottom: solid #ccc 1px;
        padding-bottom: 2em;
        margin-bottom: 2em;

        h2 {
          color: $primay-color;
          margin: 0.5em auto 0.5em 5em;
        }

        p {
          font-size: 1.5em;
          margin: 0.5em auto 0.5em 5em;
        }

        .img {
          float: left;
          border: solid #ccc 2px;
          border-radius: 90px;
          display: block;
          height: 90px;
          width: 90px;
          margin-right: 1em;
        }

        div.actions {
          margin-left: 7em;

          div.action {
            color: #ccc;
            display: inline-flex;
            margin-right: 1em;

            span.icon {
              background-image: url(#{$url-path}/assets/images/icon-sprite.png);
              display: inline-block;
              height: 16px;
              margin-right: 10px;
              width: 16px;

              &.comments {
                background-position: 0 0;
              }
              &.downs {
                background-position: 0 16px;
              }
              &.ups {
                background-position: 0 32px;
              }

            }

          }

        }

      }

    }

  }

  div.loader {
    //height: 100vh;
    //width: 100vw;
    //top: 0;
    //bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    //background-color: red;
  }

}
